@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400&family=Lora:wght@400;500;700&family=Montserrat:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

.clearfix {
  zoom: 1;
}

body {
  background-color: #181719;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfix {
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}
@-ms-viewport {
  width: device-width;
}
@media only screen and (max-device-width: 599.9px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, [row] auto);
    background-color: #181719;
    max-width: 370px;
    margin: 1rem auto;
    padding: 1rem;
  }

  .this-interior {
    grid-column: 1/3;
    grid-row: row 1;
    font-family: "Crimson Pro", serif;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    align-items: center;
    width: 6.4rem;
    height: 1.93rem;
    padding: 0.4rem;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0rem 0 0rem 0rem;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }

  .nav {
    display: flex;
    display: none;
  }

  .hamburger-icon {
    grid-column: 9;
    grid-row: row 1;
    font-size: 2rem;
    cursor: pointer;
    margin: -0.5rem 0rem 0rem 0rem;
    color: #f2f2f2;
  }

  .title {
    grid-column: 1/9;
    grid-row: row 2;
    font-family: "Lora", serif;
    color: #ffffff;
    font-size: 2rem;
    line-height: 2.875;
    font-weight: normal;
    margin: 0 0 0 -0.4rem;
    max-width: 320px;
  }

  .description {
    grid-column: 1/7;
    grid-row: row 3;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.06rem;
    color: #ffffff;
    letter-spacing: 0.05rem;
    margin: 0rem 0 1rem 0rem;
    max-width: 250px;
  }

  .read-more {
    grid-column: 1/4;
    grid-row: row 4;
    margin: 0rem 0 2rem 0rem;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
  }

  .arrow {
    grid-column: 2;
    grid-row: row 4;
    display: inline-block;
    position: relative;
    margin: -0.1rem 0 1rem 2rem;
    font-size: 0.6rem;
  }

  .interor-image {
    display: inline-block;
    position: relative;
    align-items: center;
    max-width: 340px;
    grid-column: 1/8;
    grid-row: row 5/9;
    margin: 0rem 1rem 0 -0.2rem;
    z-index: 1;
  }

  .card {
    position: relative;
    display: block;
    grid-column: 2/-1;
    grid-row: row 8/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
    box-sizing: border-box;
    background-color: #181719;
    padding: 0.55rem;
    margin: 1rem -1rem 2rem 0rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }

  .Aliza-photo {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    max-width: 100ch;
    border-radius: 50%;
    padding: 0.8rem;
    margin: -0.5rem 0rem 0.6rem 0rem;
  }

  .nameA {
    grid-column: 2/5;
    grid-row: 1;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 0.65rem;
    font-weight: 400;
    margin: 0.5rem 0rem -0.7rem 0.4rem;
    letter-spacing: 0.04rem;
  }

  .occupation {
    grid-column: 2/5;
    grid-row: 2;
    font-size: 0.6rem;
    margin: -0.6rem 0rem 0rem 0.4rem;
    font-family: "Montserrat", sans-serif;
    color: #828282;
    font-weight: 400;
    letter-spacing: 0.01rem;
  }

  .designed-by {
    grid-column: 1/4;
    grid-row: 3;
    font-size: 0.9rem;
    font-family: "Lora", serif;
    font-weight: 700;
    color: #ffffff;
    margin: -0.5rem 0rem 1rem 0.5rem;
  }

  .line {
    grid-column: 2/9;
    grid-row: row 11;
    margin: 0.5rem 0 0.8rem 0;
    text-align: center;
    align-items: center;
    border-top: 0.05rem solid #a9a9a9;
  }

  footer {
    grid-column: 1/9;
    grid-row: row 12;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: center;
    align-items: center;
    color: #a9a9a9;
    margin: 0rem 0 1rem 2rem;
  }
  footer a:link {
    text-decoration: none;
    color: #ffffff;
  }
  footer a {
    color: inherit;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #181719;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }

  .overlay a {
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
.overlay a:focus {
    color: #8f8b8b;
  }

  .overlay .closebtn {
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 1023.9px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, [row] auto);
    background-color: #181719;
    margin: 1rem auto;
    padding: 0.5rem;
    max-width: 800px;
  }

  .this-interior {
    grid-column: 1/3;
    grid-row: row 1;
    font-family: "Crimson Pro", serif;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    align-items: center;
    width: 6.4rem;
    height: 1.9rem;
    padding: 0.4rem;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 1rem 0 5rem 2.5rem;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }

  .nav {
    width: 100%;
    display: flex;
    float: right;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    margin: 0.5rem 2rem 0rem 11.5rem;
    color: #ffffff;
    background-color: #181719;
  }

  .nav__item {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    flex-grow: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    text-align: center;
    color: #ffffff;
    padding: 1rem 0rem 0 0;
  }

  .nav__item--active {
    font-weight: bold;
  }

  .hamburger-icon {
    display: none;
  }

  .title {
    display: inline-block;
    position: relative;
    grid-column: 1/4;
    grid-row: row 2;
    font-family: "Lora", serif;
    color: #ffffff;
    font-size: 1.55rem;
    font-weight: 400;
    margin: 3.2rem 0 1.2rem 2.5rem;
  }

  .description {
    display: inline-block;
    position: relative;
    grid-column: 1/4;
    grid-row: row 3;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: #ffffff;
    line-height: 1rem;
    margin: 0rem 0 1rem 2.6rem;
    max-width: 220px;
  }

  .read-more {
    display: inline-block;
    position: relative;
    grid-column: 1/4;
    grid-row: row 4;
    margin: 0.2rem 0 1rem 2.5rem;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 0.65rem;
    letter-spacing: 0.02rem;
  }

  .arrow {
    display: inline-block;
    position: relative;
    grid-column: 3;
    grid-row: row 4;
    margin: 0.1rem 0 0rem 2.5rem;
    font-size: 0.7rem;
    color: #ffffff;
  }

  .interor-image {
    display: inline-block;
    position: relative;
    width: 55%;
    max-width: 100ch;
    grid-column: 3/9;
    grid-row: row 2/6;
    margin: 3rem 0 0 14rem;
    z-index: 1;
  }

  .card {
    position: relative;
    display: block;
    grid-column: 3/-3;
    width: 50%;
    grid-row: row 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
    box-sizing: border-box;
    background-color: #181719;
    padding: 0.5rem;
    margin: -2.4rem 0rem 2rem 17rem;
    z-index: 2;
  }

  .Aliza-photo {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    max-width: 100ch;
    border-radius: 50%;
    padding: 0.7rem;
    margin: -0.5rem 0rem 0.6rem 0rem;
  }

  .nameA {
    grid-column: 2/5;
    grid-row: 1;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0.4rem 0rem -0.5rem 0.4rem;
    letter-spacing: 0.04rem;
  }

  .occupation {
    grid-column: 2/5;
    grid-row: 2;
    font-size: 0.55rem;
    margin: -0.6rem 0rem 0rem 0.4rem;
    font-family: "Montserrat", sans-serif;
    color: #828282;
    font-weight: 400;
    letter-spacing: 0rem;
  }

  .designed-by {
    grid-column: 1/4;
    grid-row: 3;
    font-size: 0.9rem;
    font-family: "Lora", serif;
    color: #ffffff;
    margin: -0.5rem 0rem 1rem 0.5rem;
  }

  .line {
    display: none;
  }

  footer {
    grid-column: 1/9;
    grid-row: row 8;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    align-items: center;
    color: #a9a9a9;
    font-size: 0.5rem;
    margin: 3.5rem 0 1.5rem 0;
  }
  footer a:link {
    text-decoration: none;
    color: grey;
  }
  footer a {
    color: inherit;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #181719;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }

  .overlay a {
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
.overlay a:focus {
    color: #8f8b8b;
  }

  .overlay .closebtn {
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    font-size: 2rem;
  }
}
@media screen and (min-device-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, [row] auto);
    background-color: #181719;
    max-width: 1024px;
    margin: 1rem auto;
    padding: 0.5rem;
  }

  .this-interior {
    grid-column: 1/3;
    grid-row: row 1;
    font-family: "Crimson Pro", serif;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 0.01rem;
    text-align: center;
    align-items: center;
    line-height: 1.5rem;
    width: 6rem;
    height: 2rem;
    padding: 0.2rem;
    font-size: 0.8rem;
    margin: 2rem 0 5rem 1rem;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }

  .nav {
    width: 100%;
    display: flex;
    float: right;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.1rem;
    margin: 1.5rem 2rem 0rem 25rem;
    color: #ffffff;
    background-color: #181719;
  }

  .nav__item {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    flex-grow: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    text-align: center;
    color: #ffffff;
    padding: 1rem 0rem 0 0;
  }

  .nav__item--active {
    font-weight: bold;
  }

  .hamburger-icon {
    display: none;
  }

  .title {
    display: inline-block;
    position: relative;
    grid-column: 1/4;
    grid-row: row 2;
    font-family: "Lora", serif;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin: 7rem 0 1.9rem 1rem;
  }

  .description {
    display: inline-block;
    position: relative;
    grid-column: 1/4;
    grid-row: row 3;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.01rem;
    line-height: 1.4rem;
    margin: 0rem 2.2rem 1.8rem 1rem;
    max-width: 270px;
  }

  .read-more {
    display: inline-block;
    position: relative;
    grid-column: 1/3;
    grid-row: row 4;
    margin: 0rem 0 1rem 1rem;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 0.75rem;
    letter-spacing: 0.02rem;
  }

  .arrow {
    display: inline-block;
    position: relative;
    grid-column: 3;
    grid-row: row 4;
    margin: -0.01rem 0 0 0;
    font-size: 0.7rem;
    color: #ffffff;
  }

  .interor-image {
    display: inline-block;
    position: relative;
    width: 75%;
    max-width: 100ch;
    grid-column: 3/9;
    grid-row: row 2/6;
    margin: 7rem 0rem 0 20rem;
    z-index: 1;
  }

  .card {
    position: relative;
    display: block;
    grid-column: 4/-1;
    grid-row: row 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
    box-sizing: border-box;
    background-color: #181719;
    padding: 0.5rem;
    margin: -3.3rem -2.5rem 4rem 0rem;
    z-index: 2;
  }

  .Aliza-photo {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    max-width: 100ch;
    border-radius: 50%;
    padding: 0.7rem;
    margin: -0.3rem 0rem 0.6rem 0.3rem;
  }

  .nameA {
    grid-column: 2/5;
    grid-row: 1;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0.7rem 0rem -0.5rem 0.5rem;
    letter-spacing: 0rem;
  }

  .occupation {
    grid-column: 2/5;
    grid-row: 2;
    font-size: 0.7rem;
    margin: -0.6rem 0rem 0rem 0.5rem;
    font-family: "Montserrat", sans-serif;
    color: #828282;
    font-weight: 400;
    letter-spacing: 0rem;
  }

  .designed-by {
    grid-column: 1/4;
    grid-row: 3;
    font-size: 1.15rem;
    font-family: "Lora", serif;
    color: #ffffff;
    margin: 0rem 0rem 1rem 0.7rem;
  }

  .line {
    display: none;
  }

  footer {
    grid-column: 1/9;
    grid-row: row 8;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    align-items: center;
    font-size: 0.75rem;
    margin: 3rem 0 1.5rem 4rem;
    color: #a9a9a9;
  }
  footer a:link {
    text-decoration: none;
    color: grey;
  }
  footer a {
    color: inherit;
  }

  .overlay {
    display: none;
  }

  .overlay-content {
    display: none;
  }

  .overlay a {
    display: none;
  }

  .overlay a:hover,
.overlay a:focus {
    display: none;
  }

  .overlay .closebtn {
    display: none;
  }
}
@media screen and (min-device-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, [row] auto);
    background-color: #181719;
    max-width: 1440px;
    margin: 1rem auto;
    padding: 0rem;
    height: 100vh;
  }

  .this-interior {
    grid-column: 1/3;
    grid-row: row 1;
    font-family: "Crimson Pro", serif;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.01rem;
    text-align: center;
    align-items: center;
    line-height: 1.5rem;
    width: 5.2rem;
    height: 1.5rem;
    padding: 0rem;
    font-size: 0.58rem;
    margin: 2rem 0 5rem 5rem;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }

  .nav {
    display: flex;
    float: right;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin: 2rem 0rem 5rem 13rem;
    color: #ffffff;
    background-color: #181719;
  }

  .nav__item {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    flex-grow: 1;
    font-family: var(--font);
    font-size: var(--text-md);
    text-align: center;
    color: var(--grey-2);
    padding: var(--space-sm);
  }

  .nav__item--active {
    font-weight: bold;
  }

  .hamburger-icon {
    display: none;
  }

  .title {
    display: inline-block;
    position: relative;
    grid-column: 1/4;
    grid-row: row 2;
    font-family: "Lora", serif;
    color: #ffffff;
    font-size: 2.55rem;
    font-weight: 400;
    margin: -0.2rem 0 1.2rem 5rem;
  }

  .description {
    display: inline-block;
    position: relative;
    grid-column: 1/4;
    grid-row: row 3;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #ffffff;
    letter-spacing: 0.01rem;
    line-height: 1.6rem;
    margin: 1rem 0 2rem 5rem;
  }

  .read-more {
    display: inline-block;
    position: relative;
    grid-column: 1/3;
    grid-row: row 4;
    margin: 0rem 0 1rem 5rem;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
  }

  .arrow {
    display: inline-block;
    position: relative;
    grid-column: 2;
    grid-row: row 4;
    margin: -0.1rem -9rem 0 0rem;
    font-size: 0.7rem;
  }

  .interor-image {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 100ch;
    grid-column: 4/8;
    grid-row: row 2/6;
    margin-left: 3.4rem;
    z-index: 1;
  }

  .card {
    position: relative;
    display: block;
    grid-column: 6/-2;
    grid-row: row 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: none;
    box-sizing: border-box;
    background-color: #181719;
    padding: 0.5rem;
    margin: -2.4rem -2.3rem 2rem 0.8rem;
    box-shadow: 0 8px 6px -6px black;
    z-index: 2;
  }

  .Aliza-photo {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    max-width: 100ch;
    border-radius: 50%;
    padding: 0.7rem;
    margin: -0.5rem 0rem 0.6rem 0rem;
  }

  .nameA {
    grid-column: 2/5;
    grid-row: 1;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0.4rem 0rem -0.5rem 0.4rem;
    letter-spacing: 0.04rem;
  }

  .occupation {
    grid-column: 2/5;
    grid-row: 2;
    font-size: 0.55rem;
    margin: -0.6rem 0rem 0rem 0.4rem;
    font-family: "Montserrat", sans-serif;
    color: #828282;
    font-weight: 400;
    letter-spacing: 0rem;
  }

  .designed-by {
    grid-column: 1/4;
    grid-row: 3;
    font-size: 0.9rem;
    font-family: "Lora", serif;
    color: #ffffff;
    margin: -0.5rem 0rem 1rem 0.5rem;
  }

  .line {
    display: none;
  }

  footer {
    grid-column: 1/9;
    grid-row: row 8;
    font-family: "Montserrat", sans-serif;
    color: #a9a9a9;
    text-align: center;
    align-items: center;
    font-size: 0.5rem;
    margin: 1.8rem 0 1.5rem 0;
  }
  footer a:link {
    text-decoration: none;
    color: grey;
  }
  footer a {
    color: inherit;
  }

  .overlay {
    display: none;
  }

  .overlay-content {
    display: none;
  }

  .overlay a {
    display: none;
  }

  .overlay a:hover,
.overlay a:focus {
    display: none;
  }

  .overlay .closebtn {
    display: none;
  }
}